html.hs-messages-widget-open.hs-messages-mobile,html.hs-messages-widget-open.hs-messages-mobile body{
  height:100%!important;
  overflow:hidden!important;
  position:relative!important
}
html.hs-messages-widget-open.hs-messages-mobile body{
  margin:0!important
}
#hubspot-messages-iframe-container{
  display:initial!important;
  z-index:2147483647;
  position:fixed!important;
  bottom:0!important;
  right:0!important
}
#hubspot-messages-iframe-container.internal{
  z-index:1016
}
#hubspot-messages-iframe-container .shadow{
  display:initial!important;
  z-index:-1;
  position:absolute;
  width:0;
  height:0;
  bottom:0;
  right:0;
  content:""
}
#hubspot-messages-iframe-container .shadow.active{
  width:400px;
  height:400px;
  background:radial-gradient(ellipse at bottom right,rgba(29,39,54,.16) 0,rgba(29,39,54,0) 72%)
}
#hubspot-messages-iframe-container iframe{
  display:initial!important;
  width:100%!important;
  height:100%!important;
  border:none!important;
  position:absolute!important;
  bottom:0!important;
  right:0!important
}
.blank-page{
  background-color: white;
  height: 634px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.four-o-four{
  .blank-page;
  font-size: 400px;
}

.scof-bkg{
  background: url(/imgs/supply-chain-of-the-future.png);
}

div.note{
  font-size: 14px;
  text-align: left;
  margin-bottom: 16px;
  padding-top: 6px;
}

div.gray-note{
  color: #7e7e7e;
}

div.red-note{
  color: #f72e2e;
}