.blue-text {
  color: #528bff; }

.darkblue-text {
  color: #1f69ff; }

.btn {
  padding: 9px 26px;
  background-color: #528bff;
  color: #FFF;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  border: solid 2px #528bff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }
  .btn + .btn {
    margin-left: 30px; }
  .btn.btn-empty {
    background-color: transparent;
    color: #528bff; }
  .btn:hover {
    color: #FFF;
    background-color: #1f69ff;
    border-color: #1f69ff; }
  .btn.btn-black {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000; }
    .btn.btn-black.btn-empty {
      background-color: transparent;
      color: #000000; }
    .btn.btn-black:hover {
      color: #FFF;
      background-color: #0d0d0d;
      border-color: #0d0d0d; }
  .btn.btn-white {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
    .btn.btn-white.btn-empty {
      background-color: transparent;
      color: #FFFFFF; }
    .btn.btn-white:hover {
      color: #000000;
      background-color: #DEDEDE;
      border-color: #DEDEDE; }
  .btn.btn-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.btn-round {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    min-width: 150px; }

.blue-text {
  color: #528bff; }

.darkblue-text {
  color: #1f69ff; }

.team-1.fdb-block img {
  border-bottom: solid 5px #528bff;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

.team-1.fdb-block .fdb-box {
  padding: 0; }
  .team-1.fdb-block .fdb-box .content {
    padding: 20px; }

.team-2.fdb-block img {
  border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important; }

.team-3.fdb-block img {
  border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.blue-text {
  color: #528bff; }

.darkblue-text {
  color: #1f69ff; }

.fdb-block {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 100px 0;
  color: #444444;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF; }
  .fdb-block.fdb-viewport {
    min-height: calc(100% - 2 * 100px); }
    .fdb-block.fdb-viewport .container {
      min-height: calc(100% - 2 * 100px); }
  .fdb-block.fdb-image-bg {
    color: #f2f2f2; }
  .fdb-block .fdb-box {
    background: #FFFFFF;
    color: #444444;
    padding: 60px 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden; }
  .fdb-block .fdb-touch {
    border-top: solid 5px #528bff; }
  .fdb-block h1, .fdb-block .text-h1 {
    font-size: 2.75rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400; }
  .fdb-block h2, .fdb-block .text-h2 {
    font-size: 2rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400; }
  .fdb-block h3, .fdb-block .text-h3 {
    font-size: 1.125rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400; }
  .fdb-block h4, .fdb-block .text-h4 {
    font-size: 1rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400; }
  .fdb-block h5, .fdb-block .text-h5 {
    font-size: 0.9rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400; }
  .fdb-block h6, .fdb-block .text-h6 {
    font-size: 0.75rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400; }
  .fdb-block .font-weight-light {
    font-weight: 300; }
  .fdb-block img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    .fdb-block img + p, .fdb-block img + h3, .fdb-block img + h4 {
      margin-top: 20px; }
    .fdb-block img + h1, .fdb-block img + h2 {
      margin-top: 40px; }
  .fdb-block .col-fill-left {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1; }
    .fdb-block .col-fill-left + div {
      position: relative;
      z-index: 2; }
  .fdb-block .col-fill-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1; }
    .fdb-block .col-fill-right + div {
      position: relative;
      z-index: 2; }
  .fdb-block img.fdb-icon {
    width: auto;
    width: 60px; }
  .fdb-block img.fdb-icon-round {
    width: auto;
    width: 60px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px; }
  .fdb-block .row-100 {
    height: 100px;
    width: 100%; }
  .fdb-block .row-50 {
    height: 50px;
    width: 100%; }
  .fdb-block .row-70 {
    height: 70px;
    width: 100%; }

footer {
  padding: 30px 0 !important; }
  footer.footer-large {
    padding: 100px 0 !important; }
  footer .flex-column .nav-link {
    padding-left: 0; }
  footer.bg-dark {
    background: #2d313c;
    color: #f2f2f2; }
    footer.bg-dark a {
      color: #f2f2f2; }
  footer a {
    color: #444444; }

header {
  background-color: #FFFFFF; }
  header .navbar-nav a.nav-link {
    color: #777; }
    header .navbar-nav a.nav-link:hover {
      color: #528bff; }
  header .navbar-nav .active a.nav-link {
    color: #444444; }
  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  header.bg-dark .navbar-nav a.nav-link {
    color: #dcdcdc; }
    header.bg-dark .navbar-nav a.nav-link:hover {
      color: #528bff; }
  header.bg-dark .navbar-nav .active a.nav-link {
    color: #FFFFFF; }
  header.bg-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

header + header {
  border-top: solid 1px #EEE; }

.bg-dark {
  background-color: #2d313c;
  color: #f2f2f2; }

.bg-gray {
  background-color: #fafafa;
  color: #444444; }

.br {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden; }

.br-0 {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

.heart {
  color: #df584e;
  font-weight: bold; }

*.text-light {
  font-weight: 300 !important; }

.sl-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 2; }

table tr.no-border th, table tr.no-border td {
  border-top: 0; }

.uber-banner {
  background: #1f69ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1f69ff, #528bff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1f69ff, #528bff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 10px;
  font-weight: 300;
  letter-spacing: .6px;
  color: #fff;
  font-size: 16px;
  text-align: center; }
  .uber-banner a {
    color: white;
    text-decoration: underline; }
    .uber-banner a:hover, .uber-banner a:focus, .uber-banner a:active {
      opacity: .8; }

header.bg-dark .navbar-nav a.nav-link:hover {
  color: white;
}

body {
  font-family: "Lineto Replica Regular Sub", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

.fdb-block {
  font-family: "Lineto Replica Regular Sub", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

.btn, a {
  font-family: 'FFDINRoundWebProMedium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

p {
  font-family: 'FFDINRoundWebPro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

strong {
  font-family: "Lineto Replica Bold Sub", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

.fdb-block h3, .fdb-block .text-h3 {
  font-size: 1.5rem; }

.fdb-block h4, .fdb-block .text-h4 {
  font-size: 1.25rem; }

#telegram-button {
  position: fixed;
  z-index: 10000;
  bottom: 30px;
  right: 30px;
  padding: 5px;
  margin-bottom: -10px; }
  #telegram-button .circle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #528bff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .25s all; }
  #telegram-button .circle:hover {
    transform: scale(1.1);
    background-color: #1f69ff; }

#road-map {
  color: white;
  font-family: "Lineto Replica Regular Sub", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }
  #road-map a {
    color: white;
    text-decoration: underline; }
    #road-map a:hover, #road-map a:active, #road-map a:focus {
      opacity: .6; }
  #road-map h1, #road-map h2, #road-map .row {
    display: block; }
  #road-map .year {
    position: relative;
    border-bottom: 4px solid #528bff; }
    #road-map .year .icon {
      margin: -2px 30px; }
    #road-map .year h4 {
      color: white;
      font-size: 24px;
      line-height: 32px;
      margin-top: 10px; }
    #road-map .year .circle {
      position: absolute;
      right: -25px;
      bottom: -15px;
      width: 26px;
      height: 26px;
      z-index: 10;
      background-color: white;
      border-width: 4px;
      border-style: solid;
      border-color: #528bff;
      border-image: initial;
      border-radius: 50%; }
  #road-map .left .circle {
    right: -25px; }
  #road-map .middle-line {
    width: 24px;
    opacity: 0.3;
    background-color: #528bff; }
  #road-map .middle-line.first {
    margin-top: 50px; }
  #road-map .right {
    margin-top: 100px; }
    #road-map .right .year {
      padding-left: 30px; }
    #road-map .right .circle {
      left: -25px; }
  #road-map .col-md-5 {
    padding: 0px; }
  #road-map .row.center {
    justify-content: center; }
  #road-map .row.flex {
    display: flex; }
  #road-map li {
    font-size: 1.25rem; }

.blue {
  background-color: #1f69ff; }

.page-block {
  padding: 80px 20px; }

.left {
  text-align: left; }

.pull-right {
  float: right !important; }

.mar-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.container-token-allocation .header {
  color: #444444;
  margin-top: 0;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: .5px; }

.container-token-allocation h1.header {
  font-size: 44px; }

.container-token-allocation h2.header {
  font-size: 32px; }

.container-token-allocation .header-title {
  font-weight: 600;
  color: #444444;
  margin-top: 0;
  font-size: 18px; }

.container-token-allocation .desc {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .2px;
  color: #444444;
  font-weight: 300; }

.container-token-allocation .ver-middle {
  display: table;
  font-size: 0; }
  .container-token-allocation .ver-middle .ver-middle-inner {
    display: table-cell;
    vertical-align: middle; }

.container-token-allocation .token-allocation-radial-wrap {
  padding-right: 20px; }

.container-token-allocation .desc {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .2px;
  color: #444444;
  font-weight: 300; }

.container-token-allocation .use-of-assets .image {
  text-align: center; }
  .container-token-allocation .use-of-assets .image img {
    width: 100%;
    max-width: 350px; }

.paddingTop57 {
  padding-top: 57px; }

@media (min-width: 768px) {
  .side-by-side-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; } }

  .eximchain-logo {
    font-family: "Lineto Replica Regular Sub", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
  }

  .eximchain-logo span {
    font-family: "Lineto Replica Heavy Sub", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  }

.team-8 img {
  width: 120px;
  height: auto;
  margin-left: 15px;
  margin-left: 15px; }

.team-8 h3 {
  font-size: 24px;
  color: #528bff; }

.team-8 .text-left .text-h4 {
  font-family: 'FFDINRoundWebProMedium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

.team-5 img {
  width: 120px;
  height: auto; }

.team-5 p {
  font-family: 'FFDINRoundWebProMedium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif; }

.team-5 .col-sm-2.m-sm-auto {
  margin-bottom: 20px !important;
  min-height: 282px; }

#hero {
  background-size: cover;
  background-repeat: no-repeat; }
  #hero.fdb-block {
    padding: 140px 0; }
  @media only screen and (max-width: 440px) {
    #hero .btn + .btn {
      margin-left: 0px;
      margin-top: 30px; }
    #hero .btn {
      display: block; } }
  #hero h1, #hero .text-h4 {
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5); }

#solutions img {
  max-width: 200px; }

*::-moz-selection {
  color: white; }

*::selection {
  color: white; }

::-moz-selection {
  background: #1f69ff; }

::selection {
  background: #1f69ff; }

.btn.btn-white:hover {
  background-color: white;
  border-color: white;
  color: #444444; }

#apps {
  background-size: cover;
  background-repeat: no-repeat; }
  #apps .fdb-box img {
    width: 120px;
    height: auto; }

html, body {
  background: #353A3E; }

#footer .subnav {
  padding-left: 90px; }
  @media only screen and (max-width: 768px) {
    #footer .subnav {
      padding-left: 0px; } }

#footer .legal {
  padding-right: 150px; }
  @media only screen and (max-width: 767px) {
    #footer .legal {
      padding: 0 150px; } }


/*CUSTOM GLOBAL*/

.navbar-brand h2 {
  color: white;
}

.hide {
  display: none !important;
}


/*CUSTOM ERROR PAGES*/
.block-error {
    width: 400px;
    margin: 50px auto 0px;
}

.block-error .error-num {
    font-size: 190px;
    font-weight: 100;
    text-align: center;
    float: left;
    width: 100%;
    color: #FFF;
    line-height: 180px;
    font-family: 'FFDINRoundWebProMedium';
}

.block-error .error-text {
    font-size: 32px;
    color: #F5F5F5;
    float: left;
    width: 100%;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'FFDINRoundWebProMedium';
}

.block-error .error-description {
    font-size: 16px;
    color: #F0F0F0;
    float: left;
    width: 100%;
    font-weight: 300;
    margin: 30px 0px;
    text-align: center;
}

/*MAILCHIMP EMBEDDED FORMS*/
.mc-field-group label {
  display: block;
  text-align: left;
}

/*WHITELIST*/
#id header, #id .uber-banner, #whitelist-confirmation {
  z-index: 3;
}

#id .fdb-block-body {
  min-height: 670px;
  background: #fff;
}

#yay {
  position: absolute;
  width: 100%;
  height: calc(100% - 109px);
  top: 109px;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  min-height: 670px;
  z-index: -2;
}

@media only screen and (max-width: 535px) {
  #yay {
    top: 133px;
    height: calc(100% + 133px);
  }
}
