.fdb-block.p-half {
  padding: 50px 0px;
}

#count-down  {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./imgs/bg_count.svg);
}

/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
}

.coming-soon .text-h3 {
  font-family: 'FFDINRoundWebProMedium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

.timer {
    margin: 30px 0;
    text-align: center;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    font-size: 16px;
    font-family: 'FFDINRoundWebProMedium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 32px;
    font-weight: 100;
    font-family: 'FFDINRoundWebProMedium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) and (max-width: 991px) {
	.timer .days-wrapper,
  .timer .hours-wrapper,
  .timer .minutes-wrapper
  .timer .seconds-wrapper {
    width: 80px;
  }
}

@media (max-width: 767px) {
	.timer .days-wrapper,
  .timer .hours-wrapper,
  .timer .minutes-wrapper,
  .timer .seconds-wrapper {
    width: 60px;
  }
}
