body {
  margin: 0;
  padding: 0;
  font-family: 'FFDINRoundWebPro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

.css-w74h2a, [data-css-w74h2a] {
  font-family: 'FFDINRoundWebPro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

.fdb-block .fdb-touch.fdb-success {
  border-top: solid 5px #00875A;
}
